
@{
    ViewBag.Title = "AddFitnessProvider";

    string key = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessKey"];
    string redirect_uri = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessRedirectUri"];
    string authorize_url = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessAuthorizeUri"];
    string mapMyFitnessUrl = string.Format(authorize_url, key, redirect_uri);
    
}

<h2>AddFitnessProvider</h2>

@if (ViewBag.addedWithSuccess)
{
    <p class="text-success">Added with success! Would you like to add another one?</p>
}
<div>
    <p>
        <a href="@Html.Raw(mapMyFitnessUrl)"><img src="https://d21oh8fj97neu1.cloudfront.net/pfq4cm3i/original/mmf_connect_med.png" /></a>
    </p>
    <p>
        @Html.ActionLink("Join a Team »", "Index", "Teams", null, new { @class = "btn btn-primary" })
    </p>
</div>