
@{
    ViewBag.Title = "AddFitnessProvider";

    string key = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessKey"];
    string redirect_uri = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessRedirectUri"];
    string authorize_url = System.Configuration.ConfigurationManager.AppSettings["mapMyFitnessAuthorizeUri"];
    string mapMyFitnessUrl = string.Format(authorize_url, key, redirect_uri);
    
}

<h2>AddFitnessProvider</h2>

<a href="@Html.Raw(mapMyFitnessUrl)">Click here!</a>