@{
    ViewBag.Title = "About";
    ViewBag.Message = "The app meant to make you a fit Endavan";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Kernel Fit powered by Kernel Panic.</h4>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/DSC_6830.jpg" style="height:auto; max-height:450px" />
            <br/>
            <h5 class="panel-info">
                Radu "The Dominator" Pascal
            </h5>
    </div>
    <div class="col-md-4">
        <img src="~/Content/DSC_6806.jpg" style="height:auto; max-height:450px" />
        <br/>
        <h5 class="panel-info">
            Mihai "The Runner" Cucicea
        </h5>
    </div>
    <div class="col-md-4" style="overflow:hidden">
        <img src="~/Content/DSC_6793.jpg" style="height:auto; max-height:450px" />
        <br/>
        <h5 class="panel-info">
            Cipri "The Sloth" Filipas
        </h5>
    </div>
</div>
