@using ProjektB.Web.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to KernelFit</h1>
    <p class="lead">KernelFit is an application that allows you to collaboratively monitor health index.</p>
    @if (Request.LogonUserIdentity.IsAuthenticated)
    {

    }
    else
    {
        <p><a href="Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
    }

    @if (ViewBag.HasProviders != null && !ViewBag.HasProviders)
    {
        <p><a href="Account/AddProviders" class="btn btn-primary btn-lg">Add Providers &raquo;</a></p>
    }
    else
    {
        //if (ViewBag.HasTeam != null && !ViewBag.HasTeam)
        {
            <p><a href="Teams/Create" class="btn btn-primary btn-lg">Create a Team &raquo;</a> or <a href="Teams" class="btn btn-primary btn-lg">Join a Team &raquo;</a></p>
        }
    }
</div>