@using ProjektB.Web.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to KernelFit</h1>
    <p class="lead">KernelFit is an application that allows you to collaboratively monitor health index.</p>
    @if (Request.LogonUserIdentity.IsAuthenticated)
    {

    }
    else
    {
        <p><a href="Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
    }

    @if (ViewBag.HasProviders != null && !ViewBag.HasProviders)
    {
        <p><a href="Account/AddFitnessProvider" class="btn btn-primary btn-lg">Add Providers &raquo;</a></p>
    }
    else
    {
        if (ViewBag.HasTeam != null && !ViewBag.HasTeam)
        {
            <p>@Html.ActionLink("Join a Team »", "Index", "Teams", null, new { @class = "btn btn-primary" })</p>
        }
    }
</div>