@model IGrouping<string, ProjektB.Web.Models.ActivityViewModel>

@{
    ViewBag.Title = "Leader Board";
}

<h2>Leader Board</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{ var i = 0;}
    @foreach (var group in Model)
    {
        i++;
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_@i">
                <h4 class="panel-title">
                    <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                        @group.Key
                    </a>
                </h4>
            </div>
            <div id="collapse_@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@i">
                <div class="panel-body">
                    @*@item.Name - description*@
                </div>
            </div>
        </div>
    }
</div>
