@model ProjektB.Web.Models.UserStatisticsViewModel

@{
    ViewBag.Title = "UserStatistics";
}

<h2>User Statistics</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_@i">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                    @group.Key
                </a>
            </h4>
        </div>
        <div id="collapse_@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@i">
            <div class="panel-body">
                @*@item.Name - description*@
            </div>
        </div>
    </div>
</div>
