<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="showToMoveAfterMin" value="50"/>
    <add key="apiUrl" value="http://localhost:49429/api/integration/status/"/>
    <!--Must be populated by the web application-->
    <add key="userKey" value="323423423423423"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>