<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="showToMoveAfterMin" value="50"/>
    <add key="apiUrl" value="http://localhost/KernelFit/api/integration/activity/"/>
    <!--Must be populated by the web application-->
    <add key="userKey" value="893e43cb-b583-480f-9c90-98036eb04e7a"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>